// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: roboto;
}

p {
  font-family: roboto;
}

.response {
  background: #F7F7F7;
  width: 400px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
}
